In [3]:
import pandas as pd
# Dependencies
import requests
import json

In [23]:
CBS_total=pd.read_csv("data/CBS_totals.csv")
CBS_total

,Unnamed: 0,station_id,lat,lng,address,trips_2010,trips_2011,trips_2012,trips_2013,trips_2014,trips_2015,trips_2016,trips_2017,trips_2018,trips_2019
0,0,31000,38.858971,-77.053230,Eads St & 15th St S,185,1171,1353,1128,1247,1891,1883,2529,2472,1563
1,1,31001,38.857250,-77.053320,18th St & S Eads St,372,3492,3393,2345,2180,2768,2233,2428,2441,1993
2,2,31002,38.856425,-77.049232,Crystal Dr & 20th St S,362,2883,4210,4625,4672,5127,6208,7060,6469,5451
3,3,31003,38.860170,-77.049593,Crystal Dr & 15th St S,463,3432,2443,2892,4218,4937,5304,5516,4794,4338
4,4,31004,38.857880,-77.059505,Aurora Hills Cmty Ctr / 18th St & S Hayes St,234,1598,1623,1626,2536,2837,3222,2770,2614,2127
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,605,32606,38.878085,-77.153953,N Roosevelt St & Roosevelt Blvd,0,0,0,0,0,0,0,0,0,662
606,606,32607,38.879773,-77.178394,S Maple Ave & S Washington St,0,0,0,0,0,0,0,0,0,370
607,607,32608,38.885379,-77.173522,Falls Church City Hall / Park Ave & Little Fal...,0,0,0,0,0,0,0,0,0,353
608,608,32609,38.885621,-77.166917,W Columbia St & N Washington St,0,0,0,0,0,0,0,0,0,420
609,609,32901,38.963810,-77.010266,6035 Warehouse,0,0,0,0,0,0,0,0,0,0

In [24]:
CBS_total=CBS_total.rename(columns={"Unnamed: 0": "index"})
CBS_total.head()

,index,station_id,lat,lng,address,trips_2010,trips_2011,trips_2012,trips_2013,trips_2014,trips_2015,trips_2016,trips_2017,trips_2018,trips_2019
0,0,31000,38.858971,-77.053230,Eads St & 15th St S,185,1171,1353,1128,1247,1891,1883,2529,2472,1563
1,1,31001,38.857250,-77.053320,18th St & S Eads St,372,3492,3393,2345,2180,2768,2233,2428,2441,1993
2,2,31002,38.856425,-77.049232,Crystal Dr & 20th St S,362,2883,4210,4625,4672,5127,6208,7060,6469,5451
3,3,31003,38.860170,-77.049593,Crystal Dr & 15th St S,463,3432,2443,2892,4218,4937,5304,5516,4794,4338
4,4,31004,38.857880,-77.059505,Aurora Hills Cmty Ctr / 18th St & S Hayes St,234,1598,1623,1626,2536,2837,3222,2770,2614,2127

In [25]:
CBS_total.to_json("data/CBS_total.json", orient='records')